<main class="container" role="main">
  <div class="main-section m-auto">
    <div id="flash"></div>
    <div class="toast" data-delay="3000">
      <div class="toast-header">
        Input error
      </div>
      <div class="toast-body"></div>
    </div>
    <%= form_for Calculation.new, id: 'new-calculation', remote: true do |form| %>
      <div class="data-fields d-flex justify-content-around m-5">
        <%= form.text_field :field_a %>
        <%= form.text_field :field_b %>
      </div>
      <div class="operation-btns d-flex justify-content-around m-5">
        <% Calculation::OPERATIONS.each do |operation| %>
          <%= submit_tag operation, name: 'calculation[operation]', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="result-area d-flex justify-content-center">
        <%= form.text_area :result, size: "40x7", disabled: true %>
      </div>
    <% end %>
  </div>
</main>
